body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  width: 100%;
}

.header-left {
  flex: 2;
}

.header-right {
  flex: 1;
  background: #003366;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  margin: 20px 0;
}