body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  width: 100%;
}

.header-left {
  flex: 2;
}

.header-right {
  flex: 1;
  background: #003366;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  margin: 20px 0;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.one-half {
  flex: 1;
}

.two-thirds {
  flex: 2;
}

.form-container {
  border: 2px #650000 solid;
  padding: 10px;
}

input, select {
  margin-bottom: 10px;
}

label {
  margin-right: 5px;
}

.error-message {
  background: #650000;
  color: #fff;
  text-align: center;
}

.success-message {
  background: #658444;
  color: #fff;
  text-align: center;
}